<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000"/>
	<title>Eatmam!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="./icons/icon-256x256.png" type="image/x-icon">
    <!-- <link rel="apple-touch-icon" href="/icons/icon-192x192.png"> -->
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>
<body>
	<a href="#content" tabindex="0" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header-inner">
            <h1 class="header-title">
                Eatmam!
            </h1>
        </div>
        <button id="menu" tabindex="0" class="header-menu">☰</button>
    </header>
    <nav id="drawer" class="nav">
        <ul class="nav-list">
            <li class="item" tabindex="0"><a href="">Home</a></li>
            <li class="item" tabindex="0"><a href="#/favorite">Favorite</a></li>
            <li class="item" tabindex="0"><a href="https://www.linkedin.com/in/zahra-elgysha-494388216/">About Us</a></li>
        </ul>
    </nav>
	<!--jumbotron-->
    <div class="hero" tabindex="0" style="background-image: linear-gradient(rgba(0,0,5,0.5),rgba(0,0,5,0.5)), url('./images/heros/hero-image_2.jpg');">
        <div class="inner">
            <h1 class="title-hero" tabindex="0">Eatmam</h1>
            <p class="subtitle-hero" tabindex="0">Eat with your favorite food</p>
        </div>
    </div>
    <!--content-->
    <main id="content" class = "container" tabindex="0">
        <section class="content">
            <div class="headline" tabindex="0">
                <div class="list" id="posts" tabindex="0"></div>
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright &copy; 2021 <b>Eatmam!</b> - by Zahra Elgysha</p>
    </footer>

</body>
</html>