*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body{
  font-family: 'Outfit', sans-serif;
}

img{
  display: block;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #678983;
  color: #DED9C4;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}



.header {
  background-color: #89B5AF;
  min-height: 56px;
  transition: min-height 0.3s;
}

.header-inner {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header-title {
  font-weight: bold;
  font-size: 4em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #181D31;
}

button{
  min-width: 44px;
  min-height: 44px;
}

.header-menu {
  font-size: 32px;
  color: #181D31;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  background-color: transparent;
  border: none;
}

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav-list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
}

.nav a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
  color: #181D31;
}

.nav a:hover {
  text-decoration: none;
  color: #DED9C4;
  font-weight: bold;
}
/*jumbotron*/
.hero {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  min-height: 380px;
  background-position: center;
}

.inner {
  max-width: 800px;
  margin: 0 auto;
  border-style: solid;
  border-width: 5px;
  border-color: #DED9C4 transparent;
}

.title-hero{
  color: #DED9C4;
  text-shadow: 0 10px 15px rgba(0,0,0,0.1);
  margin: 20px;
  font-weight: 600;
  font-size: 36px;
}

.subtitle-hero{
  color: #DED9C4;
  text-shadow: 0 10px 15px rgba(0,0,0,0.1);
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
}

main{
  width: 100%;
  margin: 0 auto;
}

h2{
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  color: #678983;
  margin: auto;
}


.content{
  padding: 35px;
  display: grid;
}

.headline{
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.list {
  margin: 32px auto;
  text-align: left;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-columns: repeat(3,auto);
}

.list_item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative
}

.city {
  position: absolute;
  top: 8px;
  left: 16px;
  border-radius: 5px;
  background-color: #181D31;
  padding: 5px 10px 5px;
  color: white;
  font-weight: 500
}

.list_item_content {
  padding: 20px;
}

.list_item_thumb {
  width: 100%;
  max-height: 200px
}

.list_item_rating {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
}

.list_item_rating_value {
  color:#678983;
  text-decoration: none
}

.list_item_title {
  font-weight: 100%;
  font-size: 25px;
  margin-top: 10px;
  transition: 0.3s opacity;
}

.list_item_title:hover {
  opacity: 0.5
}

.list_item_title a {
  text-decoration: none;
  color: inherit;
  padding: 1em;
}

.list_item_desc {
  margin-top: 30px;
  font-size: 12px;
  line-height: 1.5em
}

footer {
  background-color: #89B5AF;
  color:#181D31;
  width: 100%;
  margin-top: 40px;
  text-align: center;
  padding: 25px;
  height: auto;
}

.resto {
  padding: 100px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resto-detail__image {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.342);
}
.resto-detail__city {
  color: #b31818;
  font-weight: 400;
}

.resto-detail__menus {
  display: flex;
  justify-content: center;
}
.foods-menu,
.drinks-menu {
  margin: 0 30px;
  text-align: left;
}
.resto-detail__reviews-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.resto-detail__reviews {
  margin: 3rem 0;
}
.resto-detail__reviews h5,
.resto-detail__add-review h5 {
  font-size: 1.4rem;
  margin-bottom: .8em;
  text-align: center;
}
.review-card {
  text-align: center;
  width: 20rem;
  padding: 10px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.164);
}
.review-card h6 {
  font-size: 1rem;
}
.review-card small {
  font-size: .8rem;
  color: #3d3d3d;
}
.review-card p {
  padding: 5px 0;
}
.resto-detail__add-review {
  max-width: 400px;
  margin: auto;
  text-align: left;
}
.resto-detail__add-review label {
  display: block;
  margin-bottom: 5px;
}
.resto-detail__add-review input,
.resto-detail__add-review textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 1.2em;
  resize: none;
  font-family: 'Lora';
  font-size: 1em;
}
.resto-detail__add-review button {
  padding: 15px 30px;
  font-family: 'Lora';
  font-weight: 600;
  cursor: pointer;
  background-color: #db0000;
  color: white;
  border: 0;
}
.favorite {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resto {
  padding: 10px 50px 50px;
  text-align: justify;
}

.resto-detail__image{
  width: auto;
  height: 400px;
  margin: 40px auto;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.342);
}

.resto-detail__city {
  color: #b31818;
  font-weight: 400;
}
.resto-detail__description {
  margin: 20px 0;
  padding: 0 4rem;
} 
.resto-detail__menus {
  display: flex;
  justify-content: center;
}
.foods-menu,
.drinks-menu {
  margin: 0 50px;
  text-align: left;
}
.resto-detail__reviews-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
.resto-detail__reviews {
  margin: 3rem 0;
}
.resto-detail__reviews h5,
.resto-detail__add-review h5 {
  font-size: 1.4rem;
  margin-bottom: .8em;
  text-align: center;
}
.review-card {
  text-align: center;
  width: 20rem;
  padding: 10px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.164);
}
.review-card h6 {
  font-size: 1rem;
}
.review-card small {
  font-size: .8rem;
  color: #3d3d3d;
}
.review-card p {
  padding: 5px 0;
}
.resto-detail__add-review {
  max-width: 400px;
  margin: auto;
  text-align: left;
}
.resto-detail__add-review label {
  display: block;
  margin-bottom: 5px;
}
.resto-detail__add-review input,
.resto-detail__add-review textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 1.2em;
  resize: none;
  font-family: 'Lora';
  font-size: 1em;
}
.resto-detail__add-review button {
  padding: 15px 30px;
  font-family: 'Lora';
  font-weight: 600;
  cursor: pointer;
  background-color: #db0000;
  color: white;
  border: 0;
}
.favorite {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #181D31;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color:#181D31;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}